body {
    background-color: #910506;
    background-image: url("../images/back_rps.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(236, 236, 236);
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    font-family: 'Stylish', sans-serif;
}

.container{
    margin-top: 60px;
}

#logoSection{
    margin-bottom: -65px;
}

#welcomeSection, 
#userSection, 
#statsSection, 
#viewerSection, 
#playerSection{
    font-size: 1.5rem;
}

#selection{
    opacity: 0;
}

.card{
    border: none;
    background-color: #24fd5300;
}

.noFont{
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#quit{
    margin-top: 40px;
}

@media screen and (max-width: 768px) {

    


    
}
